/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Class/11DHPM2019/target/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Lab_1/target/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Lab_2/DemoCalculator/target/
/Test/SocketIO/testSocketIO/target/
/Test/SocketIO/testSocketIO/nbproject/private/
/Test/SocketIO/testSocketIO/build/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Lab_3/DemoTroChoiXepOSo/target/