/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Class/11DHPM2019/target/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Lab_1/target/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Lab_2/DemoCalculator/target/
/Test/SocketIO/testSocketIO/target/
/Test/SocketIO/testSocketIO/nbproject/private/
/Test/SocketIO/testSocketIO/build/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Lab_3/DemoTroChoiXepOSo/target/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Bai_6/nbproject/private/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Bai_6/build/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Bai_7/nbproject/private/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_3/Home/Bai_7/build/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_4/Class/DemoFormBasic/nbproject/private/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_4/Class/DemoFormBasic/build/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_4/Class/DemoStudentManagerment/nbproject/private/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_4/Class/DemoStudentManagerment/build/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_4/Home/JavaApplication7/nbproject/private/
/Bai-Tap-Tuan/src/com/dhpm11/Tuan_4/Home/JavaApplication7/build/
/Test/NetBeans/DemoTest/nbproject/private/
/Test/NetBeans/DemoTest/build/
/Test/NetBeans/TestFirebase/nbproject/private/
/Test/NetBeans/TestFirebase/build/
/Test/NetBeans/AnagramGame/nbproject/private/
/Test/NetBeans/AnagramGame/build/
/Test/NetBeans/TestGradle/.nb-gradle/
/Test/NetBeans/TestGradle/build/
/Test/NetBeans/TestSocketio/nbproject/private/
/Test/NetBeans/TestSocketio/build/